@use "../custom" as *;

// BUTTON PRIMARY
.btn-1 {
  display: inline-block;
  color: $primary !important;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: $secondary;
  padding-block: 16px;
  padding-inline: 32px;
  border-radius: 30px;
  transition: all 0.2s ease !important;
}
.btn-1:hover {
  background-color: #d6c79f;
}
@include media-breakpoint-down(md) {
  .btn-1 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

@include media-breakpoint-down(sm) {
  .btn-1 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}
// BUTTON SECONDARY
.btn-2 {
  display: inline-block;
  text-decoration: none;
  color: $secondary !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: $primary;
  padding-block: 16px;
  padding-inline: 32px;
  border-radius: 30px;
  transition: all 0.2s ease !important;
}
.btn-2:hover {
  color: $secondary;
  background-color: map-get($theme-colors, "primary-light");
}
@include media-breakpoint-down(md) {
  .btn-2 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

@include media-breakpoint-down(sm) {
  .btn-2 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

// BUTTON TERTIRY
.btn-3 {
  text-decoration: none;
  display: inline-block;
  color: map-get($theme-colors, "primary-light");
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid map-get($theme-colors, "primary-light");
  background-color: unset;
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 24px;
  transition: all 0.2s ease !important;
}
.btn-3:hover {
  color: $white;
  background-color: map-get($theme-colors, "primary-light");
}
@include media-breakpoint-down(md) {
  .btn-3 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

@include media-breakpoint-down(sm) {
  .btn-3 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

// BUTTON TERTIRY
.btn-4 {
  color: $white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: map-get($theme-colors, "primary-light");

  font-weight: 500;
  border: 2px solid map-get($theme-colors, "primary-light");
  padding-block: 12px;
  padding-inline: 24px;
  border-radius: 8px;
  transition: all 0.2s ease !important;
}
.btn-4:hover {
  color: $white;
  background-color: map-get($theme-colors, "primary");
  border: 2px solid map-get($theme-colors, "primary");
}
@include media-breakpoint-down(md) {
  .btn-4 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}

@include media-breakpoint-down(sm) {
  .btn-4 {
    font-size: 18px;
    padding-block: 14px;
    padding-inline: 28px;
  }
}
