@use "../custom" as *;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.section {
  padding-block: 96px !important;
}

.section-2 {
  padding-top: 48px;
}

.img-box {
  width: 50%;
  height: auto;
  img {
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
}

.para {
  line-height: 1.9;
}

.poster::after {
  content: "Poster";
  color: map-get($theme-colors, "primary-light");
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #ede6e3;
  padding: 4px 12px;
}
.poster {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web::after {
  content: "Web";
  color: map-get($theme-colors, "primary-light");
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #ede6e3;
  padding: 4px 12px;
}
.web {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.animation::after {
  content: "Animation";
  color: map-get($theme-colors, "primary-light");
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  background-color: #ede6e3;
  padding: 4px 12px;
}
.animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form {
  .input,
  textarea {
    box-shadow: 0px 2px 12px #00000010;
    border-radius: 8px;
    padding: 6px 12px;
    border: none;
    outline: none;
  }
}

.navbar-nav {
  margin-top: 12px;
  flex-direction: row;
  justify-content: end;
}

.btn-top {
  bottom: 5%;
  right: 5%;
  z-index: 9999;
  position: fixed;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-btn.hide {
  opacity: 0;
  transition: all 0.2s ease !important;
}

.top-btn {
  transition: all 1s ease !important;
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

.py-32 {
  padding-block: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}

.mb-64 {
  margin-bottom: 96px;
}

.list-none {
  list-style: none !important;
}

.bold-me {
  font-weight: 600;
}
